.home-container {
  text-align: center;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.link-button-p {
  margin-top: 10px;
  margin-bottom: 0;
}
